 /* ====  HOME PAGE  ==== */
 #videoBG  {
     position: fixed;
     z-index: -1;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     
 }

.main {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* ====  DESPRE NOI PAGE  ==== */

 body {
     width: 100%;
     background-color: black;
 }

 .content2 {
     line-height: 3rem;
     text-align: center;
     width: 80%;
     margin: auto;
     margin-top: 3.5rem;
}

.container {
    margin-top: 3.5rem;
    display: flex;
}

.card {
    height: 189px;
    width: 45%;
    margin: auto;
    background-color:  rgba(3, 85, 6, 0.8);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}

.content3 {
    width: 40%;
    background-color: rgba(3, 85, 6, 0.8);
    margin: auto;
    height: 120px;
    border-radius: 2%;
    text-align: center;
    margin-bottom: 2rem;
}

.container {
    margin-bottom: 3rem;
}
 
.link-uri {
    line-height: 1.75rem;
}



/* ====  CONTACTATI-NE PAGE  ==== */

 .body3 {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 .main3 {
     display: flex;
     flex-direction: column; 
     flex-grow: 1;
 }

 .info {
     width: 40%;
     margin: auto;
     background-color: rgba(3, 85, 6, 0.8);
     height: 350px;
     border-radius: 2%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .info-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 90vh;
 }

 .footer {
    background-color: rgba(3, 85, 6, 0.8);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }

 .contact-links {
     display: flex;
     flex-direction: column;
     align-items: center;
     line-height: 2rem;
 }

 .main3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(assets/dbc565b554f132d48e34b2cbccb9826f.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .body3 {
    background: rgba(3, 85, 6, 0.8);
    mix-blend-mode: overlay;
    z-index: 1;
}

   