/* ====  HOME PAGE  ==== */

@media screen and (max-width:600px) {
    .content h1 {
         font-size: 35px;
         text-align: center;
     }
     .buttons0 {
         width: 130px;
         height: 43px;
         font-size: 16.5px;
     }
}

 /* ====  DESPRE NOI PAGE  ==== */

 @media screen and (max-width:1150px) {
       .main2 h1{
            font-size: 30px;
       }

       .content2 h2 {
           font-size: 20px;
       }

       .content2 h3 {
        font-size: 25px;
    }

    .content2 {
        line-height: 2.1rem;
        margin-top: 2rem;
    }

    .card p {
        font-size: 15px;
    }
 }

 @media screen and (max-width: 750px) {
     .container {
         flex-wrap: wrap;
     }
     .card {
         width: 80%;
        margin-top: 1rem;
     }

     .content2 {
         margin-bottom: -2.5rem;
     }
 }

 @media screen and (max-width: 450px) {
     .content2 h2 {
         font-size: 15px;
     }
     .content2 h3 {
        font-size: 18.5px;
    }
    .content2 {
        line-height: 1.85rem;
        margin-bottom: -3.7rem;
    }
    .card {
        height: 220px;
    }
     
    .content2 h2 {
        line-height: 1.7rem;
         
    }
 }

 @media screen and (max-width:400px) {
     .number2 p {
         font-size: 14px;
         line-height: 1.2rem;
     }
     .number1 p {
         line-height: 1.3rem;
     }
     .content2 h3 {
         line-height: 1.5rem;
     }
 }

 @media screen and (max-width:300px) {
    .number2 p {
        font-size: 13px;
        line-height: 1.1rem;
    }
}

@media screen and (max-width:1100px) {
    .content3 h4 {
        font-size: 15px;
    }
    .link-uri a {
         font-size: 13px;
    }
    .link-uri  {
         line-height: 1.4rem;
   }
}

@media screen and (max-width:860px) {
    .content3 {
        width: 60%;
    }
}

@media screen and (max-width:750px) {
    .footer p {
        font-size: 12px;
    }
}

@media screen and (max-width:590px) {
    .content3 {
        width: 80%;
    }
    .container {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:450px) {
    .content3 {
        height: 170px;
        line-height: 2rem;
    }

    .footer p {
        font-size: 8px;
    }
}

@media screen and (max-width:350px) {
    .content3 {
        height: 175px;
        line-height: 1.6rem;
    }
}

@media screen and (max-width:325px) {
    .content3 {
        height: 199px;
        line-height: 1.6rem;
    }
}

/* ====  CONTACTATI-NE PAGE  ==== */

@media screen and (max-width:950px) {
    .info {
        width: 50%;
    }
}

@media screen and (max-width:750px) {
    .contact-links a {
        font-size: 15px;
    }
    .contact-links p {
        font-size: 15px;
    }
    .info h1 {
        font-size: 25px;
    }
    .info {
        height: 230px;
        width: 50%;
    }
}

@media screen and (max-width:550px) {
    .contact-links a {
        font-size: 13px;
    }

    .info {
        height: 250px;
        width: 55%;
    }
}

@media screen and (max-width: 450px) {
    .info {
        height: 230px;
        width: 75%;
    }
    .contact-links a {
        font-size: 16px;
    }
    .contact-links  {
         line-height: 1.5rem;
    }
}

@media screen and (max-width: 390px) {
    .info {
        height: 200px;
        width: 75%;
    }
    .contact-links a {
        font-size: 13px;
    }
}